.container {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 1000px) { 
	.container {
		max-width: $max-width;
	}
	.lightboxOverlay {
    max-width: 100%;
	}
}
